{% extends 'base.html.twig' %}

{% block title %}Page d'accueil :  !{% endblock %}

{% block main_page %}

    <div class="container">
        {% set mois = {
            '01' : "Janvier", '02' : "Février",  '03' : "Mars",
            '04' : "Avril",   '05' : "Mai",      '06' : "Juin",
            '07' : "Juillet", '08' : "Aout",     '09' : "Septembre",
            '10' : "Octobre", '11' : "Novembre", '12' : "Décembre"} %}
        {% set htmlimg   = "$beginlink<img src=\"upload/$urlimg\">$endlink" %}

        {% for post in posts %}
            {% set tabdate = post.date|date('d-m-Y') | split('-') %}
            {% set htmltext = post.texte  %}
            {% set posimg = post.PositionImage %}

            {% if post.RefImage %}

                {% if post.Link != "" %}

                    {% set htmlimg = "<a href=\"" ~ post.Link ~ "\"><img src=\"" ~ asset("imblog/" ~ post.RefImage.ImageSrc) ~ "\"></a>" %}

                {% else %}

                    {% set htmlimg = "<img src=\"" ~ asset("imblog/" ~ post.RefImage.ImageSrc) ~ "\">" %}

                {% endif %}

            {% else %}

                {% set posimg = 'none' %}

            {% endif %}

            <div class="blog">
                <div class="row blog-header">
                    <div class="col-xs-12 col-sm-2 blog-date">{{ tabdate[0] }} {{ mois[tabdate[1]] }} {{ tabdate[2] }} -</div>
                    <div class="col-xs-12 col-sm-10 blog-title">{{ post.title }}</div>
                </div>

                <div class="row blog-body">

                    {% if posimg == 'gauche' %}

                        <div class="col-xs-12 col-sm-4 col-md-5 col-lg-4 blog-img">{{ htmlimg| raw }}</div>
                        <div class="col-xs-12 col-sm-8 col-md-7 col-lg-8 blog-text">{{ htmltext| raw }}</div>

                    {% elseif post.PositionImage == 'droite' %}

                        <div class="col-xs-12 col-sm-8 col-md-7 col-lg-8 blog-text">{{ htmltext| raw }}</div>
                        <div class="col-xs-12 col-sm-4 col-md-5 col-lg-4 blog-img">{{ htmlimg| raw }}</div>

                    {% elseif post.PositionImage == 'dessous' %}

                        <div class="col-xs-12 blog-text">{{ htmltext| raw }}</div>
                        <div class="col-xs-12 blog-img">{{ htmlimg| raw }}</div>

                    {% elseif post.PositionImage == 'dessus' %}

                        <div class="col-xs-12 blog-img">{{ htmlimg| raw }}</div>
                        <div class="col-xs-12 blog-text">{{ htmltext| raw }}</div>

                    {% else %} {# none #}

                        <div class="col-xs-12 blog-text">{{ htmltext| raw }}</div>

                    {%  endif %}

                </div>

            </div>

        {% endfor %}

    </div>

 }
    <div class="newsindex"></div>
{% endblock %}
