{% extends 'base.html.twig' %}

{% block title %}Page d'accueil :  !{% endblock %}

{% block main_page %}

    {% import 'macros/bouton.html.twig' as control %}

    {% set mois = {
        '01' : "Janvier", '02' : "Février",  '03' : "Mars",
        '04' : "Avril",   '05' : "Mai",      '06' : "Juin",
        '07' : "Juillet", '08' : "Aout",     '09' : "Septembre",
        '10' : "Octobre", '11' : "Novembre", '12' : "Décembre"} %}

    <div class="row row-cols-1 row-cols-md-2">

        {% for post in posts %}
            {% set tabdate = post.postedAt|date('d-m-Y') | split('-') %}
            {% set htmltext = post.content  %}
            {% set posimg = post.PositionImage %}
            {% set img = '<img src="' ~ asset(imblog ~ post.image) ~ '" class="card-img-top">' %}

            {% if not post.image %}
                {%  set img='' %}
            {% endif %}

            {% if post.Link != "" %}
                {% set htmlimg = '<a href="' ~ post.link ~ '">' ~ img ~ '</a>' %}
            {% else %}
                {% set htmlimg = img %}
            {% endif %}

            <div class="col mb-1">
                <div class="card h-100">
                    <div class="card-header">
                        {% if testDroit(app,'ROLE_PUB') %}
                            <a class="btn btn-light btn-xs" role="button" href="{{ url('blog_admin_edit',{blogId: post.id}) }}">
                                <i class="fas fa-edit" aria-hidden="true"></i>
                            </a>
                        {% endif %}
                        {{ tabdate[0] }} {{ mois[tabdate[1]] }} {{ tabdate[2] }}
                    </div>
                    {{ htmlimg | raw }}
                    <div class="card-body">
                        <h5 class="card-title">{{ post.title }}</h5>
                        <div class="card-text">{{ htmltext | raw }}</div>
                    </div>
                </div>
            </div>

        {% endfor %}
    </div>

{% endblock %}