{% extends 'base.html.twig' %}

{% block title %}Documents{% endblock %}

{% block main_page %}

    <div class="container">

        <div class="col-xs-12">
            <h3>Documents utiles:</h3>
        </div>

        <div class="col-xs-12 col-sm-6">
            <h4>Textes & pratique</h4>
            <ul>
                <li>Le <a href="{{ asset('docs/ReglementInterieur.pdf') }}" target=_blank><strong><u>Réglement Intérieur du
                                club</u></strong></a> (aussi appelé charte du GUC), où l'on expose un ensemble de règles
                    applicables à <u>chaque</u> membre.</li>
                <li>Les textes fédéraux sur les modalités de présentation des  examens, contenu des niveaux
                    en termes de compétences à acquérir, etc.
                    <ul>
                        <li><a href="{{ asset('docs/N1.pdf') }}" target=_blank>Niveau 1</a></li>
                        <li><a href="{{ asset('docs/N2.pdf') }}" target=_blank>Niveau 2</a></li>
                        <li><a href="{{ asset('docs/N3.pdf') }}" target=_blank>Niveau 3</a></li>
                        <li><a href="{{ asset('docs/N4.pdf') }}" target=_blank>Niveau4</a></li>
                        <li><a href="{{ asset('docs/Initiateur.pdf') }}" target=_blank>Initiateur</a></li>
                        <li><a href="{{ asset('docs/MF1.pdf') }}" target=_blank>MF1</a></li>
                        <li><a href="{{ asset('docs/RIFAP.pdf') }}" target=_blank>RIFAP</a></li>
                    </ul>
                </li>
            </ul>
            <p>Vous pouvez télécharger l'intégralité du manuel de formation technique (MFT) sur le
                <a href="http://www.ffessm.fr/pages_manuel.asp" target=_blank>site de la CTN</a> de la FFESSM.</p>
        </div>

        <div class="col-xs-12 col-sm-6">
            <h4>Médical</h4>
            <ul>
                <li>Le modèle de certificat médical à imprimer et faire remplir par votre médecin - <i>Format
                        <a href="{{ asset('docs/CertMed.pdf') }}" target=_blank>PDF</a></i>
                </li>
                <ul>
                    <li>(<strong><u>Rappel</u> : Médecin du sport, fédéral  ou hyperbare.
                            Mais PAS généraliste)</strong></li>
                </ul>
                <li>Liste des médecins fédéraux de la région, classée par département - <i>Format
                        <a href="{{ asset('docs/Liste_Medecins_Federaux.pdf') }}" target=_blank>PDF</a></i></li>
            </ul>
        </div>
        <div class="col-xs-12 col-sm-6">
            <h4>La médiathèque du Guc Plongée</h4>
            <p>Pour emprunter un ouvrage, faire la demande par mail à Serge De Paoli
                <Strong>serge.de-paoli</Strong><Strong>@</Strong><Strong>st.com</Strong></p>
            <ul>
                <li>Liste des ouvrages de la médiathèque - <i>Format
                        <a href="{{ asset('docs/Mediatheque.pdf') }}" target=_blank>PDF</a></i></li>
            </ul>
        </div>
        <div class="col-xs-12 col-sm-6">
            <h4>Le magazine du Guc Plongée</h4>
            <p><font color="#FF0000">GUC Plongée Magazine - Septembre 2013</font> -
                <i>Format <a href="{{ asset('docs/GucMag-sept2013.pdf') }}" target=_blank>PDF</a></i></p>
            <ul>
                <li>Bulles n° 30 - Eté 2008 -  <i>Format <a href="{{ asset('docs/Bulles30.pdf') }}" target=_blank>PDF</a></i></li>
                <li>Bulles n° 28 - Avril 2003 -  <i>Format <a href="{{ asset('docs/Bulles28.pdf') }}" target=_blank>PDF</a></i>
                </li>
            </ul>
        </div>
        <div class="col-xs-12 col-sm-6">
            <h4>Pour l'organisation des sorties</h4>
            <p>Deux documents à consulter et  à utiliser par les organisateurs de sortie:</p>
            <ul>
                <li>Règles de subventionnement des sorties - <i>Format
                        <a href="{{ asset('docs/Subventions sorties GUC 2012 10 25.pdf') }}" target=_blank>PDF</a></i>
                </li>
                <li>Fiche de compte des sorties - <i>Format
                        <a href="{{ asset('docs/feuille de compte de sortie rev 20130522.xlsx') }}" target=_blank>Excel</a></i>
                </li>
            </ul>
        </div>
        <div class="col-xs-12 col-sm-6">
            <h4>Pour les directeurs de plongée</h4>
            Trois documents impératifs:
            <ul>
                <li>Fiche de Sécurité (à conserver 1 an) - <i>Format
                        <a href="{{ asset('docs/FicheSecurite.pdf') }}" target=_blank>PDF</a></i>
                </li>
                <li>Fiche d'Evacuation de plongeur - <i>Format
                        <a href="{{ asset('docs/FicheEvacuation.pdf') }}" target=_blank>PDF</a></i>
                </li>
                <li>Plan de Secours (à adapter selon le site) - <i>Format
                        <a href="{{ asset('docs/PlanSecours.pdf') }}" target=_blank>PDF</a></i>
                </li>
            </ul>
        </div>
        <div class="col-xs-12 col-sm-6">
            <h4>Cours de photographie sous-marine</h4>
            <ul>
                <li>Cours indispensable si vous souhaitez emprunter un appareil photo au GUC - <i>Format
                        <a href="{{ asset('docs/Photo.pdf') }}" target=_blank>PDF</a></i>
                </li>
            </ul>
        </div>
        <div class="col-xs-12">
            <h3>Cours théoriques</h3>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3">
            <h4>Niveau 2</h4>
            <ul>
                <li>Cours de législation - <i>Format <a href="{{ asset('docs/LegisN2.pdf') }}" target=_blank>PDF</a></i></li>
                <li>Cours de matériel - <i>Format <a href="{{ asset('docs/MaterielN2.pdf') }}" target=_blank>PDF</a></i></li>
                <li>Cours d'orientation - <i>Format <a href="{{ asset('docs/OrientationN2.pdf') }}" target=_blank>PDF</a></i></li>
            </ul>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3">
            <h4>Niveau 3</h4>
            <ul>
                <li>Présentation du cursus N3 au GUC - <i>Format
                        <a href="{{ asset('docs/Cursus.pdf') }}" target=_blank>PDF</a></i>
                </li>
                <li>Cours de réglementation - <i>Format
                        <a href="{{ asset('docs/ReglementationN3.pdf') }}" target=_blank>PDF</a></i>
                </li>
                <li>Cours sur les accidents - <i>Format <a href="{{ asset('docs/AccidentN3.pdf') }}" target=_blank>PDF</a></i></li>
                <li>Cours sur la plannification des plongées - <i>Format
                        <a href="{{ asset('docs/PlanificationN3.pdf') }}" target=_blank>PDF</a></i>
                </li>
            </ul>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3">
            <h4>Niveau 4</h4>
            <ul>
                <li>Cours de tables - <i>Format <a href="{{ asset('docs/Tables_N4.pdf') }}" target=_blank>PDF</a></i></li>
                <li>Cours de tables en altitude - <i>Format
                        <a href="{{ asset('docs/Tables_Altitude_N4.pdf') }}" target=_blank>PDF</a></i>
                </li>
                <li>Cours de tables au Nitrox - <i>Format
                        <a href="{{ asset('docs/Tables_Nitrox_N4.pdf') }}" target=_blank>PDF</a></i>
                </li>
            </ul>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3">
            <h4>Tables MN90</h4>
            <ul>
                <li>Des tables MN 90 - <i>Format <a href="{{ asset('docs/MN90.pdf') }}" target=_blank>PDF</a></i></li>
            </ul>
        </div>
        <div class="col-xs-12">
            <h3>Documents divers</h3>
        </div>
        <div class="col-xs-12 col-sm-6">
            <h4>Templates à utiliser</h4>
            <ul>
                <li>Template pour les supports de cours - <i>Format
                        <a href="{{ asset('docs/template_word.docx') }}" target=_blank>Word</a></i>
                </li>
                <li>Template pour les présentations - <i>Format
                        <a href="{{ asset('docs/template_powerpoint.pptx') }}" target=_blank>Powerpoint</a></i>
                </li>
            </ul>
        </div>
        <div class="col-xs-12 col-sm-6">
            <h4>La réglementation pour plonger en lac</h4>
            <ul>
                <li>Arrété pour le lac du Bourget - <i>Format
                        <a href="{{ asset('docs/bourget.pdf') }}" target=_blank>PDF</a></i>
                </li>
                <li>Arrété pour le lac d'Annecy - <i>Format
                        <a href="{{ asset('docs/annecy.pdf') }}" target=_blank>PDF</a></i>
                </li>
                <li>Arrété pour les omblières au lac d'Annecy - <i>Format
                        <a href="{{ asset('docs/annecy_omblieres.pdf') }}" target=_blank>PDF</a></i>
                </li>
            </ul>
        </div>
    </div>

{% endblock %}
