{% extends 'base.html.twig' %}

{% block title %}Formation des niveaux 3 et 4{% endblock %}

{% block main_page %}

    <div class="row">
        <div class="col-12">
            <h3>LES FORMATIONS NIVEAUX 3 ET 4</h3>
        </div>
        <div class="col-6 col-sm-3">
            <img src="{{ asset( conf('path_team') ~ 'OLLES-JeanMarc.jpg') }}" class="img-ident w100">
            <div class="nomblu">Jean-Marc OLLES<br>(MF1 - Responsable N3)</div>
        </div>
        <div class="col-6 col-sm-3">
            <img src="{{ asset( conf('path_team') ~ 'DEPAOLI-Serge.jpg') }}" class="img-ident w100">
            <div class="nomblu">Serge De Paoli<br>(MF1 - Responsable N4)</div>
        </div>
        <div class="col-12 col-sm-6">
            <h4>L'intéret de passer un niveau 3 ou un niveau 4 ?</h4>
            <p>Les plongeurs préparant les niveaux 3 et 4 sont, par définition, déjà partiellement autonomes
                puisque niveau 2 ou niveau 3. Cela ne signifie pas que le GUC plongée ne va pas les aider,
                bien au contraire.</p>
            <p>Le niveau 3 donne la possibilité de plonger en autonomie complète jusqu'à 60 mètres.</p>
            <p>Le niveau 4 est un niveau d'encadrement. Il permet d'encadrer des plongeurs niveaux 1 et 2
                lors de leurs plongées.</p>
        </div>
        <div class="col-12">
            <h3>Entraînement en piscine</h3>
            <p>Des groupes d'entraînement sont proposés à la piscine, sous la responsabilité d'un encadrant. </p>
            <p>Ce travail comprend principalement le perfectionnement de la forme physique, qui est un élément
                indispensable à la préparation des diplômes N3 et N4. </p>
            <p>La piscine est également le lieu privilégié pour travailler des points techniques qui permettent
                de gagner du temps en mer (prise de noyé, sauvetage mannequin, peaufiner les signes,...). </p>
            <p>L'entraînement est généralement à la carte. Prenez en main votre formation avec l'encadrant chargé
                de vous aider, sollicitez les moniteurs, bref, agissez...</p>
        </div>
        <div class="col-12">
            <h3>Sorties Techniques Niveau 3 et Niveau 4</h3>
            <p>La formation pour les N3 et N4 se fait également et surtout en mer. Les dates des sorties
                techniques à Niolon sous disponibles à la rubrique
                <a href="{{ url('index_calendrier') }}">Calendrier</a> du site web du club. </p>
            <p>D'autres solutions sont aussi possibles, à vous de définir celle qui vous convient.</p>
            <ul>
                <li>La Comission Technique Départementale organise tous les mois une sortie à Marseille,
                    de septembre à avril. Ces dates figurent dans le calendrier du club.
                </li>
                <li>Le Comité Technique Régional organise le même genre de sortie. Voir le site Web du
                    <a href="http://www.ffessmaura.fr/">Comité Régional AURA</a></li>
                <li>Des stages sont organisés régulièrement sur la côte.</li>
            </ul>
            <p>Sachez que les encadrants connaissent bien les différentes formules, qu'ils participent
                à certaines sorties ou ont suivi des stages lors de leur propre formation. Venez en parler !</p>
        </div>
        <div class="col-12">
            <h3>Détails pratiques pour les sorties techniques</h3>
        </div>
        <div class="col-12 col-sm-8 col-md-9">
            <p>Les dates des sorties techniques du Guc Plongée et de la CTD Isère sont disponibles sous la
                rubrique <a href="{{ url('index_calendrier') }}">Calendrier</a> du site web du club.</p>
            <p>La réservation aux sorties techniques du Guc Plongée se fait à l'aide d'un chèque du montant
                de la sortie auprès de votre responsable de groupe qui le transmettra à
                <Strong>Sigolène Jomain</Strong>, responsable de l'organisation des sorties techniques.</p>
            <p>Sur place, seuls les blocs et plombs de plongée sont fournis. Chaque plongeur doit venir
                avec palmes, masque, tuba, ceinture, combinaison et profondimètre/ordinateur. A Niolon,
                il est possible de louer sa combinaison sur place.</p>
            <p>Les détendeurs et stabs sont à emprunter au club le mardi soir précédent le week-end, en fin
                de séance, mais il faut les réserver avant dans la rubrique <Strong>Emprunt matériel</Strong>
                de l'<a href="{{ url('index_intranet') }}">Intranet</a>.</p>
        </div>
        <div class="col-12 col-sm-4 col-md-3">
            <img src="{{ asset('team/JOMAIN-Sigolene.jpg') }}" class="img-ident w100">
            <div class="nomblu">Sigolène Jomain<br>Responsable sorties techniques</div>
        </div>
        <div class="col-12">
            <p><u><Strong>A emmener obligatoirement : votre certificat médical et votre licence</Strong></u>.</p>
            <p>En cas d'oubli, vous ne pourriez pas plonger. Les centres de plongées respectent en effet
                rigoureusement la réglementation en vigueur, et c'est bien normal.</p>
        </div>
        <div class="col-12">
            <h3>Niveau 3 : un diplôme club</h3>
            <p>Grace à la présence de nombreux moniteurs fédéraux, le club peut assurer :</p>
            <ul>
                <li><u>la formation théorique.</u> Les cours ont normalement lieu le mardi soir. Quelques
                    séances de 2 heures sont nécessaires.
                </li>
                <li><u>la formation pratique.</u> Elle a lieu en même temps que les sorties N2 à Niolon sous
                    forme de contrôle continu. Quelques plongées techniques mer avec le Comité R.A.B.A. ou
                    la C.T.D. Isère sont recommandées.
                </li>
                <li><u>la formation RIFAP.</u> Ce module de secourisme est un diplôme obligatoire pour passer
                    les niveaux 3, 4 et le diplôme d'initiateur. Pour plus de détails, voir la rubrique
                    <a href="{{ url('index_formation_secourisme') }}">Secourisme</a>.
                </li>
            </ul>
            <p>Avant de faire les premières sorties techniques en mer N3, nous demandons <Strong>au moins
                    15 plongées explorations au-delà de 30 m, et 15 plongées en autonomie</Strong>,
                validées sur le carnet de plongées. </p>
            <p><u>Bon à savoir :</u> 12 plongées techniques, dont 8 dans l'espace lointain, sont souvent
                un minimum pour acquérir la technique nécessaire à l'obtention du niveau 3.</p>
        </div>
        <div class="col-12">
            <h3>Niveau 4 : un diplôme fédéral</h3>
            <p>Pour le niveau 4, une <u>formation théorique</u> est dispensée par le
                <Strong>Comité Technique Départemental</Strong>. Les cours ont lieu de novembre à
                avril... les mardis soir. </p>
            <p>Cela tombe le même soir que la piscine... mais vous pouvez vous organiser pour déléguer
                une personne à chaque cours. </p>
            <p>N'hésitez pas à demander aux encadrants si certains points ne sont pas clairs ou si vous
                voulez revoir des cours. De nombreux ouvrages existent, dont certains sont disponibles
                à la bibliothèque du GUC. </p>
            <p>Là encore les encadrants peuvent vous conseiller et vous aider.</p>
            <p>La <u>formation pratique</u> est assurée par le <Strong>Guc Plongée</Strong> (à Niolon) ou
                par la <Strong>CTD Isère</Strong> (à l'Estaque, La Londe ou St Cyr sour Mer). </p>
            <p>A l'issue de cette formation pratique, un moniteur pourra signer les aptitudes à présenter
                lors de l'examen organisé soit par les <Strong>Comités Techniques Régionaux (CTR)</Strong>,
                soit par des clubs autorisés par leur CTR.</p>
        </div>
    </div>

{% endblock %}
