{% extends 'base.html.twig' %}

{% block title %}Administration du Blog{% endblock %}

{% block main_page %}

    {% import 'macros/bouton.html.twig' as control %}

    <div class="row">
        <div class="col-12">
            <h3>Admin de la page d'accueil </h3>
        </div>
    </div>

    {#
    // Affichage de la page de saisie/modif d'un blog
    // ---------------------------------------------------
    #}

    {{ form_start(formBlogEdit) }}

    <div class="row">

        <div class="col-12">
            {{ form_row(formBlogEdit.title) }}
        </div>
        <div class="col-12">
            {{ form_row(formBlogEdit.content) }}
        </div>
        <div class="col-12">
            {{ form_row(formBlogEdit.link) }}
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6">
            {% if image %}
                {% if orient == 'paysage' %}
                    <h3>paysage</h3>
                    <img class="imgleft wlim" src="{{ asset(imblog ~ '/' ~ image) }}" />
                {% else %}
                    <h3>portrait</h3>
                    <img class="imgleft hlim" src="{{ asset(imblog ~ '/' ~ image) }}" />
                {% endif %}
            {% else %}
                <img class="imgleft hlim" src="{{ asset('im/default.jpg') }}" />
            {% endif %}
        </div>

        <div class="col-sm-6">
            {{ form_row(formBlogEdit.file) }}
            {{ form_row(formBlogEdit.positionImage) }}

            {{ control.bouton(
                'Supprimer l\'image',
                url('blog_admin_delete_image', {'blogId': id}),
                '',
                'btn btn-light btn-outline-guc btn-danger btn-block',
                'triangle-cross')
            }}

            {{ form_row(formBlogEdit.Enregister) }}

            {{ control.bouton(
                'Annuler',
                url('blog_admin_index'),
                '',
                'btn btn-light btn-outline-guc btn-block',
                'triangle-home')
            }}

            {{ form_end(formBlogEdit) }}
        </div>
    </div>

{% endblock %}

