{% extends 'base.html.twig' %}

{% block title %}Trombinoscope{% endblock %}

{% block main_page %}

    <div class="container">
        <h3>Trombinoscope</h3>
        <div class="col-xs-12">
            <a class="btn btn-default" href="{{ url('index_intranet') }}">
                <span class="glyphicon glyphicon-chevron-left"></span> Revenir à l'accueil de l'intranet.
            </a>
        </div>

        <div class="col-xs-12">

            {% for photo in photos %}
                {% if not photo.fTrombi %}
                    {% set fname = "im/photo-blank.jpg" %}
                {% else %}
                    {% set nom    = rationalizeFilename(photo.Nom) %}
                    {% set prenom = rationalizeFilename(photo.Prenom) %}

                    {% set fname = "identites/" ~ nom ~ '-' ~ prenom ~ '-' ~ photo.id ~ "-th.jpg" %}
                    {% if not fileExists('../public/' ~ fname) %}
                        {% set fname = '/im/photo-blank.jpg' %}
                    {% endif %}
                {% endif %}

                <div class="case-trombi">
                    <img src="{{ asset(fname) }}" class="img-trombi">
                    <div class ="nomblu">
                        <center>{{ photo.Nom }}<br>{{ photo.Prenom }}<br>{{ photo.NiveauSca }}</center>
                    </div>
                </div>
            {% endfor %}

        </div>

        <div class="col-xs-12">
            <a  class="btn btn-default" href="{{ url('root') }}">
                <span class="glyphicon glyphicon-chevron-left"></span> Revenir à l'accueil de l'intranet.
            </a>
        </div>

    </div>

{% endblock %}
