{% form_theme formInfoPerso 'bootstrap_3_layout.html.twig' %}

{% extends 'base.html.twig' %}

{% block title %}Informations personelles{% endblock %}

{% block main_page %}

<div class="row">

    <div class="col-12">
        <h3>Informations personelles</h3>
        {{ dump (formInfoPerso) }}
    </div>

    <div class="col-12">
        <a class="btn btn-light btn-outline-guc btn-block" href="{{ url('index_intranet') }}">
            <span class="glyphicon glyphicon-chevron-left"></span> Revenir à l'accueil de l'intranet.
        </a>
    </div>
</div>

    {{ form_start(formInfoPerso) }}

    <div class="row">
        <div class="col-12 col-sm-6">
            {{ form_row(formInfoPerso.Username, {label: 'Nom utilisateur'}) }}
        </div>

        <div class="col-12 col-sm-6">
            {{ form_row(formInfoPerso.Mail, {label: 'Adresse mail'}) }}
        </div>
    </div>

    <div class="row">
        <div class="col-12 col-sm-2">
            {{ form_row(formInfoPerso.Genre, {label: 'Genre'}) }}
        </div>

        <div class="col-12 col-sm-5">
            {{ form_row(formInfoPerso.Nom, {label: 'Nom'}) }}
        </div>

        <div class="col-12 col-sm-5">
            {{ form_row(formInfoPerso.Prenom, {label: 'Prénom'}) }}
        </div>
    </div>

    <div class="row">
        <div class="col-12 col-sm-6">
            {{ form_row(formInfoPerso.Adresse1, {label: 'Adresse'}) }}
        </div>

        <div class="col-12 col-sm-6">
            {{ form_row(formInfoPerso.Adresse2, {label: 'Suite adresse'}) }}
        </div>
    </div>

    <div class="row">
        <div class="col-12 col-sm-6">
            {{ form_row(formInfoPerso.CodePostal, {label: 'Code postal'}) }}
        </div>

        <div class="col-12 col-sm-6">
            {{ form_row(formInfoPerso.Ville, {label: 'Ville'}) }}
        </div>

        <div class="col-12 col-sm-6">
            {{ form_row(formInfoPerso.Profession, {label: 'Profession'}) }}
        </div>

        <div class="col-12 col-sm-6">
            {{ form_row(formInfoPerso.fEtudiant, {label: 'Etudiant'}) }}
        </div>
    </div>

    <div class="row">
        <div class="col-12 col-sm-3">
            {{ form_row(formInfoPerso.DateNaissance, {label: 'Date de naissance'}) }}
        </div>

        <div class="col-12 col-sm-6">
            {{ form_row(formInfoPerso.LieuNaissance, {label: 'Lieu de naissance'}) }}
        </div>

        <div class="col-12 col-sm-3">
            {{ form_row(formInfoPerso.DepartementNaissance, {label: 'Département de naissance'}) }}
        </div>
    </div>

    <div class="row">
        <div class="col-6 col-sm-3">
            {{ form_row(formInfoPerso.TelFix, {label: 'Téléphone fixe'}) }}
        </div>

        <div class="col-6 col-sm-3">
            {{ form_row(formInfoPerso.TelPort, {label: 'Téléphone Portable'}) }}
        </div>
    </div>

    <div class="row">
        <div class="col-6 col-sm-3">
            {{ form_row(formInfoPerso.NiveauSca, {label: 'Niveau Scaphandre'}) }}
        </div>

        <div class="col-6 col-sm-3">
            {{ form_row(formInfoPerso.NiveauApn, {label: 'Niveau Apnée'}) }}
        </div>

        <div class="col-6 col-sm-3">
            {{ form_row(formInfoPerso.Activite, {label: 'Activité pour l\'année'}) }}
        </div>

        <div class="col-6 col-sm-3">
            {{ form_row(formInfoPerso.fApneeSca, {label: 'Apnéiste ou maintien Plongeur'}) }}
        </div>
    </div>

    <div class="row">
        <div class="col-6 col-sm-3">
            {{ form_row(formInfoPerso.AccidentNom,{ label: 'Nom du contact en cas d\'accident'}) }}
        </div>

        <div class="col-6 col-sm-3">
            {{ form_row(formInfoPerso.AccidentPrenom,{ label: 'Prénom du contact en cas d\'accident'}) }}
        </div>

        <div class="col-6 col-sm-3">
            {{ form_row(formInfoPerso.AccidentTelFix,{ label: 'Téléphone fixe du contact'}) }}
        </div>

        <div class="col-6 col-sm-3">
            {{ form_row(formInfoPerso.AccidentTelPort,{ label: 'Téléphone portable du contact'}) }}
        </div>
    </div>

    <div class="row">
        <div class="col-6 col-sm-3">
            {{ form_row(formInfoPerso.MineurNom, {label: 'Nom du représentant légal'}) }}
        </div>

        <div class="col-6 col-sm-3">
            {{ form_row(formInfoPerso.MineurPrenom, {label: 'Prénom du représentant légal'}) }}
        </div>

        <div class="col-6 col-sm-3">
            {{ form_row(formInfoPerso.MineurQualite, {label: 'Qualité du représentant légal'}) }}
        </div>
    </div>

    <div class="row">
        <div class="col-6 col-sm-3">
            {{ form_row(formInfoPerso.DateCertif, { label: 'Date du certificat médical'}) }}
        </div>

        <div class="col-6 col-sm-3">
            {{ form_row(formInfoPerso.fAllergAspirine, {label: 'Allergie à l\'aspirine'}) }}
        </div>
    </div>

    <div class="row">
        <div class="col-12 col-sm-6">
            {{ form_row(formInfoPerso.Diplomes, {label: 'Diplômes & certifications'}) }}
        </div>

        <div class="col-12 col-sm-6">
            {{ form_row(formInfoPerso.Roles, {label: 'Rôles affectés'}) }}
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <button type="submit" class="form-control btn btn-success btn-block">Go!</button>
        </div>

        <div class="col-12">
            <a  class="btn btn-light btn-outline-guc btn-block" href="{{ url('root') }}">
                <span class="glyphicon glyphicon-chevron-left"></span> Revenir à l'accueil de l'intranet.
            </a>
        </div>
    </div>

    {{ form_end(formInfoPerso, {'render_rest': false}) }}

{% endblock %}
