{% extends 'base.html.twig' %}

{% block javascripts_head %}

    {{ parent() }}
    {#<script type="text/javascript" src="{{ asset("js/jquery-ui.js") }}"></script>#}

{% endblock %}

{% import 'macros/bouton.html.twig' as ctrl %}

{% block title %}Administration des demandes de matériel{% endblock %}

{% block main_page %}

<div class="container">
    <form id="cd" method="post" action="{{ url('admin_calendrier_materiel') }}">
        <table class="table table-bordered">
            <tr>
                <td>
                    {#<?php               Controls::indate("Date de début :", 'ddeb', $cal_startdate->format('Y-m-d')); ?>#}
                    <form method="post" action="{{ url('admin_calendrier_materiel') }}">
                        <input type="hidden" name="caldeb" value="{{ calHeader.startDate | date('Y-m-d') }}" />
                        <input type="submit" name="calprec" value="Previous" />
                        <input type="submit" name="calsuiv" value="Next" />
                    </form>
                </td>
            </tr>
        </table>
    </form>

    {% set mtxt = ["Janvier", "Fevrier", "Mars", "Avril", "Mai", "Juin", "Juillet", "Août", "Septembre", "Octobre", "Novembre", "Decembre"] %}
    {% set mday = ["Lu","Ma","Me","Je","Ve","Sa","Di"] %}

{#
    {{ dump(calHeader) }}
    {{ dump(tabResa) }}
#}
    <style>
        .resa {
            background-color: #f6bee1;
        }
        .cal {
            vertical-align: middle!important;
            padding-top: 0!important;
            padding-bottom: 0!important;
        }
        .repert {
        }
        .flexer {
            display: flex!important;
            flex-wrap: wrap;
        }
        .contnr {
            width: 100%;
            text-align:justify;
            justify-content: space-between;
            align-content: space-between;
        }
        td {
            padding-left: 4px!important;
            padding-right: 4px!important;

        }
        .nowrap {
            white-space: nowrap;
        }
        .boldoption {
            font-weight: bold;
        }
        .disoption {
            font-weight: lighter;
            font-style: italic;
            color: red;
        }
        .larg {
            min-width: 100%;
        }
    </style>
    <div class="table-responsive">
        <table class="table table-striped table-bordered">

            {# Affichage du header #}

            <tr>
                <td>&nbsp;</td> {# Nom #}
                <td>&nbsp;</td> {# matériel #}

                {# affichage des mois textuels#}
                {% for mois in calHeader.lines %}
                    <td colspan="{{ mois.nbDayInMonth }}">{{ mtxt[mois.curMonth] }}</td>
                {% endfor %}
            </tr>

            <tr>
                <td>&nbsp;</td> {# Nom #}
                <td>&nbsp;</td> {# matériel #}

                {# affichage des jours #}
                {% for curMonth in calHeader.lines %}
                    {% for i in 0..curMonth.nbDayInMonth-1 %}
                        <td>{{ mday[(curMonth.startDayOfWeek + i) % 7] }}<br>{{ curMonth.startDay + i }}</td>
                    {% endfor %}
                {% endfor %}
            </tr>

            {# Affichage des réservations #}

            {% for curResa in tabResa %}
                {% if curResa.assets is defined %}
                    <tr>
                    <td  class="nowrap cal" rowspan="{{ curResa.assets | length }}">{{ curResa.nom }} {{ curResa.prenom }}</td>
                    {% for curItem in curResa.assets %}
                        <td class="nowrap cal">
                            <label>
                                <select name="newChoix" class="larg form-control">

                                    {#<option selected class="boldoption">{{ curItem.AssetType }} {{ curItem.AssetNum }} ({{ curItem.AssetCarac }})</option>#}
                                    {% for libres in curItem.libres %}
                                        <option{% if libres.MatCarac.assetNum == curItem.AssetNum %}  selected class="boldoption"{% elseif libres.status != 'libre' %} class="disoption" disabled{% endif %}>
                                            {{ libres.MatCarac.AssetType }} {{ libres.MatCarac.AssetNum }} ({{ libres.MatCarac.Caracteristique }})
                                        </option>
                                    {% endfor %}
                                </select>
                            </label>
                        </td>

                        {# before #}
                        {% if curResa.colsDeb != 0 %}
                            {% for i in 1..curResa.colsDeb %}
                                <td class="cal"</td>
                            {% endfor %}
                        {% endif %}

                        {# in #}
                        <td  class="resa cal" colspan="{{ curResa.colsRes }}">
                            <div class="contnr flexer">
                                <div class="repert">
                                    <button type="button" class="btn btn-light btn-outline-guc btn-xs">
                                        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                                    </button>
                                    <button type="button" class="btn btn-light btn-outline-guc btn-xs">
                                        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                                    </button>
                                </div>

                                <div class="repert">
                                    <button type="button" class="btn btn-light btn-outline-guc btn-xs">
                                        <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                                    </button>
                                    <button type="button" class="btn btn-light btn-outline-guc btn-xs">
                                        <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                                    </button>
                                </div>

                                <div class="repert">
                                    <button type="button" class="btn btn-light btn-outline-guc btn-xs">
                                        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                                    </button>
                                    <button type="button" class="btn btn-light btn-outline-guc btn-xs">
                                        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                                    </button>
                                </div>
                            </div>
                        </td>

                        {# after #}
                        {% if curResa.colsFin != 0 %}
                            {% for i in 1..curResa.colsFin %}
                                <td class="cal"></td>
                            {% endfor %}
                        {% endif %}
                        </tr>
                    {% endfor %}
                {% endif %}
            {% endfor %}
        </table>
    </div>
</div>

{% endblock %}
